<!-- wp:columns {"className":"has-2-columns"} -->
<div class="wp-block-columns has-2-columns">
  <!-- wp:column -->
  <div class="wp-block-column">
    <!-- wp:media-text {"align":"","mediaId":323,"mediaType":"image","mediaWidth":20} -->
    <div
      class="wp-block-media-text is-stacked-on-mobile"
      style="grid-template-columns: 20% auto"
    >
      <a href="https://ucengagingscience.org/people/#leader">
        <figure class="wp-block-media-text__media">
          <img
            src="https://ucengagingscience.files.wordpress.com/2019/04/advisory.png?w=600"
            alt=""
            class="wp-image-323 size-full"
          />
        </figure>
        <div class="wp-block-media-text__content">
          <!-- wp:paragraph {"placeholder":"Content…","textColor":"white","style":{"typography":{"fontSize":24}}} -->
          <p class="has-white-color has-text-color" style="font-size: 24px">
            Leadership
          </p>
          <!-- /wp:paragraph -->
        </div>
      </a>
    </div>
    <!-- /wp:media-text -->

    <!-- wp:media-text {"align":"","mediaId":325,"mediaType":"image","mediaWidth":20} -->
    <div
      class="wp-block-media-text is-stacked-on-mobile"
      style="grid-template-columns: 20% auto"
    >
      <a href="https://ucengagingscience.org/people/#faculty">
        <figure class="wp-block-media-text__media">
          <img
            src="https://ucengagingscience.files.wordpress.com/2019/04/faculty.png?w=600"
            alt=""
            class="wp-image-325 size-full"
          />
        </figure>
        <div class="wp-block-media-text__content">
          <!-- wp:paragraph {"placeholder":"Content…","textColor":"white","style":{"typography":{"fontSize":24}}} -->
          <p class="has-white-color has-text-color" style="font-size: 24px">
            Faculty Affiliates
          </p>
          <!-- /wp:paragraph -->
        </div>
      </a>
    </div>
    <!-- /wp:media-text -->
  </div>
  <!-- /wp:column -->

  <!-- wp:column -->
  <div class="wp-block-column">
    <!-- wp:media-text {"align":"","mediaId":321,"mediaType":"image","mediaWidth":19} -->
    <div
      class="wp-block-media-text is-stacked-on-mobile"
      style="grid-template-columns: 19% auto"
    >
      <a href="https://ucengagingscience.org/people/#advisory">
        <figure class="wp-block-media-text__media">
          <img
            src="https://ucengagingscience.files.wordpress.com/2019/04/idea.png?w=600"
            alt=""
            class="wp-image-321 size-full"
          />
        </figure>
        <div class="wp-block-media-text__content">
          <!-- wp:paragraph {"placeholder":"Content…","textColor":"white","style":{"typography":{"fontSize":24}}} -->
          <p class="has-white-color has-text-color" style="font-size: 24px">
            Advisory Board
          </p>
          <!-- /wp:paragraph -->
        </div>
      </a>
    </div>
    <!-- /wp:media-text -->

    <!-- wp:media-text {"align":"","mediaId":326,"mediaType":"image","mediaWidth":19} -->
    <div
      class="wp-block-media-text is-stacked-on-mobile"
      style="grid-template-columns: 19% auto"
    >
      <a href="https://ucengagingscience.org/people/#community">
        <figure class="wp-block-media-text__media">
          <img
            src="https://ucengagingscience.files.wordpress.com/2019/04/public.png?w=600"
            alt=""
            class="wp-image-326 size-full"
          />
        </figure>
        <div class="wp-block-media-text__content">
          <!-- wp:paragraph {"textColor":"white","style":{"typography":{"fontSize":24}}} -->
          <p class="has-white-color has-text-color" style="font-size: 24px">
            Community Partners
          </p>
          <!-- /wp:paragraph -->
        </div>
      </a>
    </div>
    <!-- /wp:media-text -->

    <!-- wp:paragraph -->
    <p></p>
    <!-- /wp:paragraph -->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":22} -->
<div style="height: 22px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"center","textColor":"white","fontSize":"medium"} -->
<p
  class="has-text-align-center has-white-color has-text-color has-medium-font-size"
>
  <a href="https://ucengagingscience.org/people/"
    >Learn more about our people and partners</a
  >
</p>
<!-- /wp:paragraph -->
