* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery {
  background-color: #eee;
  padding: 40px;
  border-radius: 10px;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.gallery-card__link {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: currentColor;
  text-decoration: none;
  transition: box-shadow 150ms;
}

.gallery-card__link:hover {
  text-decoration: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.gallery-card__top {
  position: relative;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-card__top img:first-child {
  position: absolute;
  width: 100%;
  height: 100% !important;
  filter: blur(25px) contrast(90%);
  transform: scale(1.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.gallery-card__top img:last-child {
  height: 200px !important;
  width: auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.gallery-card__bottom {
  height: calc(100% - 250px);
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-card__title-container {
  margin-bottom: 25px;
}
.gallery-card__title {
  margin-bottom: 0;
  font-size: 115%;
  font-weight: 700;
}
.gallery-card__author {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.gallery-card__publisher p {
  color: #555;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: max(12px, 85%);
  line-height: 1.2;
}
